# SPDX-License-Identifier: Apache-2.0

# enable uart driver
CONFIG_SERIAL=y
# enable console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# enable GPIO
CONFIG_GPIO=y
CONFIG_DEFAULT_RECEIVE_MODE=n

# USB
CONFIG_USB_DEVICE_STACK=y
CONFIG_USB_CDC_ACM=y
CONFIG_USB_CDC_ACM_LIB=y
CONFIG_MCUBOOT_USB_DFU=y
CONFIG_USB_DFU_DEVICE_STACK=y
